<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <style>
        .pulse {
          width: 20px;
          height: 20px;
          background: rgba(255, 0, 0, 0.5);
          border-radius: 50%;
          position: relative;
          animation: pulse-animation 2s infinite;
          border: 2px solid rgba(255, 0, 0, 0.8);
          box-sizing: content-box;
        }
        @keyframes pulse-animation {
          0% {
            transform: scale(0.7);
            opacity: 1;
          }
          70% {
            transform: scale(2.5);
            opacity: 0;
          }
          100% {
            transform: scale(0.7);
            opacity: 0;
          }
        }
        </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4df6f3906288f9d6c05a8e17d96dada8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_4df6f3906288f9d6c05a8e17d96dada8" ></div>
        
</body>
<script>
    
    
            var map_4df6f3906288f9d6c05a8e17d96dada8 = L.map(
                "map_4df6f3906288f9d6c05a8e17d96dada8",
                {
                    center: [39.960576, 32.60416],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 7,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_6355ca28d343b56b6af4fc3f86378a16 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_6355ca28d343b56b6af4fc3f86378a16.addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
            var circle_marker_845be0e84cbf5c7d2606b17e4fd25897 = L.circleMarker(
                [41.0, 34.40083],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
        var popup_4620f21fee78a02e3876e3c79aeb10e8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1760ea27552fca2564952d3032b7144e = $(`<div id="html_1760ea27552fca2564952d3032b7144e" style="width: 100.0%; height: 100.0%;">2025-05-24 14:45:23<br>Kargı (Çorum)<br>M 1.9</div>`)[0];
                popup_4620f21fee78a02e3876e3c79aeb10e8.setContent(html_1760ea27552fca2564952d3032b7144e);
            
        

        circle_marker_845be0e84cbf5c7d2606b17e4fd25897.bindPopup(popup_4620f21fee78a02e3876e3c79aeb10e8)
        ;

        
    
    
            var circle_marker_ab87eb9f108b9eedc1d120cea52ef9a2 = L.circleMarker(
                [38.61444, 26.71972],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
        var popup_80054766d52b350ab282f88c44c4f928 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6d636e0fa65af9cc70aeb73e6066795d = $(`<div id="html_6d636e0fa65af9cc70aeb73e6066795d" style="width: 100.0%; height: 100.0%;">2025-05-24 15:04:28<br>Ege Denizi - İzmir Körfezi - [05.79 km] Foça (İzmir)<br>M 1.3</div>`)[0];
                popup_80054766d52b350ab282f88c44c4f928.setContent(html_6d636e0fa65af9cc70aeb73e6066795d);
            
        

        circle_marker_ab87eb9f108b9eedc1d120cea52ef9a2.bindPopup(popup_80054766d52b350ab282f88c44c4f928)
        ;

        
    
    
            var circle_marker_0eddda6784e24689693732433e3b943f = L.circleMarker(
                [40.61417, 41.37722],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
        var popup_b21e70fe9e80ed10604a159cb62a0b0e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_844c8a5d448098cc2ddae86d6f284eb3 = $(`<div id="html_844c8a5d448098cc2ddae86d6f284eb3" style="width: 100.0%; height: 100.0%;">2025-05-24 15:13:57<br>Yusufeli (Artvin)<br>M 1.6</div>`)[0];
                popup_b21e70fe9e80ed10604a159cb62a0b0e.setContent(html_844c8a5d448098cc2ddae86d6f284eb3);
            
        

        circle_marker_0eddda6784e24689693732433e3b943f.bindPopup(popup_b21e70fe9e80ed10604a159cb62a0b0e)
        ;

        
    
    
            var circle_marker_f31c0ac45b9d39d9409d64602dcf2d7b = L.circleMarker(
                [38.3075, 38.1125],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
        var popup_c88b93a149bda96c0e6d1bb97c7e1cf7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_288ac66da062845cf5701e769d30bf8d = $(`<div id="html_288ac66da062845cf5701e769d30bf8d" style="width: 100.0%; height: 100.0%;">2025-05-24 16:34:41<br>Yeşilyurt (Malatya)<br>M 1.6</div>`)[0];
                popup_c88b93a149bda96c0e6d1bb97c7e1cf7.setContent(html_288ac66da062845cf5701e769d30bf8d);
            
        

        circle_marker_f31c0ac45b9d39d9409d64602dcf2d7b.bindPopup(popup_c88b93a149bda96c0e6d1bb97c7e1cf7)
        ;

        
    
    
            var circle_marker_942f6c1461eb807f806f70ebcca414ca = L.circleMarker(
                [36.50306, 28.15861],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
        var popup_9d0694145709aecec2003c4d8f2347aa = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b340a298f060edad6f83d6cf60a1edbe = $(`<div id="html_b340a298f060edad6f83d6cf60a1edbe" style="width: 100.0%; height: 100.0%;">2025-05-24 17:23:36<br>Akdeniz - [14.97 km] Marmaris (Muğla)<br>M 1.1</div>`)[0];
                popup_9d0694145709aecec2003c4d8f2347aa.setContent(html_b340a298f060edad6f83d6cf60a1edbe);
            
        

        circle_marker_942f6c1461eb807f806f70ebcca414ca.bindPopup(popup_9d0694145709aecec2003c4d8f2347aa)
        ;

        
    
    
            var circle_marker_53d24887ab51ae8b508e3ac76fdd90a8 = L.circleMarker(
                [36.94306, 27.99806],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
        var popup_7808bcca3fb455ef66f125030e564365 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4c15754e7eed0826a386c5ff8f0ff208 = $(`<div id="html_4c15754e7eed0826a386c5ff8f0ff208" style="width: 100.0%; height: 100.0%;">2025-05-24 17:41:56<br>Ege Denizi - Gökova Körfezi - [10.59 km] Milas (Muğla)<br>M 1.1</div>`)[0];
                popup_7808bcca3fb455ef66f125030e564365.setContent(html_4c15754e7eed0826a386c5ff8f0ff208);
            
        

        circle_marker_53d24887ab51ae8b508e3ac76fdd90a8.bindPopup(popup_7808bcca3fb455ef66f125030e564365)
        ;

        
    
    
            var marker_f9c02fbb4ef974aec95ef4f7c74022e2 = L.marker(
                [37.5375, 36.90278],
                {
}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
            var div_icon_65bc96b48663787c06a1481324697ab1 = L.divIcon({
  "html": "\u003cdiv class=\"pulse\"\u003e\u003c/div\u003e",
  "iconSize": [20, 20],
  "iconAnchor": [10, 10],
  "className": "empty",
});
        
    
        var popup_979066cdc6ce9c4427a94bcff8a824d5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9d24de7372c317c8c8f255a33b8bc0fa = $(`<div id="html_9d24de7372c317c8c8f255a33b8bc0fa" style="width: 100.0%; height: 100.0%;">2025-05-24 18:56:46<br>Onikişubat (Kahramanmaraş)<br>M 1.6</div>`)[0];
                popup_979066cdc6ce9c4427a94bcff8a824d5.setContent(html_9d24de7372c317c8c8f255a33b8bc0fa);
            
        

        marker_f9c02fbb4ef974aec95ef4f7c74022e2.bindPopup(popup_979066cdc6ce9c4427a94bcff8a824d5)
        ;

        
    
    
                marker_f9c02fbb4ef974aec95ef4f7c74022e2.setIcon(div_icon_65bc96b48663787c06a1481324697ab1);
            
    
            var marker_54c91f8278982703f08773cfb72b6221 = L.marker(
                [37.5375, 36.90278],
                {
}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
            var div_icon_0a97a664e7a6d4494d78fb34bcd6110a = L.divIcon({
  "html": "\u003cdiv class=\"pulse\"\u003e\u003c/div\u003e",
  "iconSize": [20, 20],
  "iconAnchor": [10, 10],
  "className": "empty",
});
        
    
        var popup_3147bc15b68813579b93f9425186d85e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fee57cd9cc26860a8e24670afbeaeac1 = $(`<div id="html_fee57cd9cc26860a8e24670afbeaeac1" style="width: 100.0%; height: 100.0%;">2025-05-24 18:56:46<br>Onikişubat (Kahramanmaraş)<br>M 1.6</div>`)[0];
                popup_3147bc15b68813579b93f9425186d85e.setContent(html_fee57cd9cc26860a8e24670afbeaeac1);
            
        

        marker_54c91f8278982703f08773cfb72b6221.bindPopup(popup_3147bc15b68813579b93f9425186d85e)
        ;

        
    
    
                marker_54c91f8278982703f08773cfb72b6221.setIcon(div_icon_0a97a664e7a6d4494d78fb34bcd6110a);
            
    
            var marker_e92a401ec69a56d8661e8679959cb819 = L.marker(
                [39.18778, 28.93778],
                {
}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
            var div_icon_cf8c5146bcb442654955926cf5fea9a6 = L.divIcon({
  "html": "\u003cdiv class=\"pulse\"\u003e\u003c/div\u003e",
  "iconSize": [20, 20],
  "iconAnchor": [10, 10],
  "className": "empty",
});
        
    
        var popup_0e0b5933ad41713282eb020d56102386 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4465d352cebe1c038b0ce4ca15cbfd60 = $(`<div id="html_4465d352cebe1c038b0ce4ca15cbfd60" style="width: 100.0%; height: 100.0%;">2025-05-24 18:19:17<br>Simav (Kütahya)<br>M 1.3</div>`)[0];
                popup_0e0b5933ad41713282eb020d56102386.setContent(html_4465d352cebe1c038b0ce4ca15cbfd60);
            
        

        marker_e92a401ec69a56d8661e8679959cb819.bindPopup(popup_0e0b5933ad41713282eb020d56102386)
        ;

        
    
    
                marker_e92a401ec69a56d8661e8679959cb819.setIcon(div_icon_cf8c5146bcb442654955926cf5fea9a6);
            
    
            var marker_4f4c5f0f42d4575efcc00e563b41141e = L.marker(
                [37.65833, 35.97639],
                {
}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
            var div_icon_0469ae0db97b7202323e2734d821ad34 = L.divIcon({
  "html": "\u003cdiv class=\"pulse\"\u003e\u003c/div\u003e",
  "iconSize": [20, 20],
  "iconAnchor": [10, 10],
  "className": "empty",
});
        
    
        var popup_552fdc48839d9c3725be346ca72dad0c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_414c957c4127d5484a1ef00f535ad1b4 = $(`<div id="html_414c957c4127d5484a1ef00f535ad1b4" style="width: 100.0%; height: 100.0%;">2025-05-24 18:22:05<br>Kozan (Adana)<br>M 2.2</div>`)[0];
                popup_552fdc48839d9c3725be346ca72dad0c.setContent(html_414c957c4127d5484a1ef00f535ad1b4);
            
        

        marker_4f4c5f0f42d4575efcc00e563b41141e.bindPopup(popup_552fdc48839d9c3725be346ca72dad0c)
        ;

        
    
    
                marker_4f4c5f0f42d4575efcc00e563b41141e.setIcon(div_icon_0469ae0db97b7202323e2734d821ad34);
            
    
            var marker_ab1a301eb765a61cca605c5eef3622ac = L.marker(
                [38.25556, 38.13806],
                {
}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
            var div_icon_c74613819c3f68fb5d30ff14e139e985 = L.divIcon({
  "html": "\u003cdiv class=\"pulse\"\u003e\u003c/div\u003e",
  "iconSize": [20, 20],
  "iconAnchor": [10, 10],
  "className": "empty",
});
        
    
        var popup_1338863bbf98635300f12a557d69c1ee = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c539c840c75ad3d44b5f69acf3462e8e = $(`<div id="html_c539c840c75ad3d44b5f69acf3462e8e" style="width: 100.0%; height: 100.0%;">2025-05-24 19:27:46<br>Yeşilyurt (Malatya)<br>M 2.0</div>`)[0];
                popup_1338863bbf98635300f12a557d69c1ee.setContent(html_c539c840c75ad3d44b5f69acf3462e8e);
            
        

        marker_ab1a301eb765a61cca605c5eef3622ac.bindPopup(popup_1338863bbf98635300f12a557d69c1ee)
        ;

        
    
    
                marker_ab1a301eb765a61cca605c5eef3622ac.setIcon(div_icon_c74613819c3f68fb5d30ff14e139e985);
            
    
            var marker_2d74b184f3711f071199ba7e780467fb = L.marker(
                [38.11861, 37.81917],
                {
}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
            var div_icon_d988c07ea1a939c4c141ed5a2632722f = L.divIcon({
  "html": "\u003cdiv class=\"pulse\"\u003e\u003c/div\u003e",
  "iconSize": [20, 20],
  "iconAnchor": [10, 10],
  "className": "empty",
});
        
    
        var popup_aea6db75ce38596f3815115fa941657f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_391b9c361ae3de1e545a708d67541717 = $(`<div id="html_391b9c361ae3de1e545a708d67541717" style="width: 100.0%; height: 100.0%;">2025-05-24 19:00:34<br>Doğanşehir (Malatya)<br>M 1.6</div>`)[0];
                popup_aea6db75ce38596f3815115fa941657f.setContent(html_391b9c361ae3de1e545a708d67541717);
            
        

        marker_2d74b184f3711f071199ba7e780467fb.bindPopup(popup_aea6db75ce38596f3815115fa941657f)
        ;

        
    
    
                marker_2d74b184f3711f071199ba7e780467fb.setIcon(div_icon_d988c07ea1a939c4c141ed5a2632722f);
            
    
            var marker_d9a4c78604a2dd491047a32d2a49bae1 = L.marker(
                [39.960576, 32.60416],
                {
}
            ).addTo(map_4df6f3906288f9d6c05a8e17d96dada8);
        
    
            var icon_b4224e0d363de8a50a52e6f81c64df8c = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2bb1e347ca66677e899f6a96196a7989 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2fb4bf038ebd00da8b297b2578409b8d = $(`<div id="html_2fb4bf038ebd00da8b297b2578409b8d" style="width: 100.0%; height: 100.0%;">Seçilen Lokasyon</div>`)[0];
                popup_2bb1e347ca66677e899f6a96196a7989.setContent(html_2fb4bf038ebd00da8b297b2578409b8d);
            
        

        marker_d9a4c78604a2dd491047a32d2a49bae1.bindPopup(popup_2bb1e347ca66677e899f6a96196a7989)
        ;

        
    
    
                marker_d9a4c78604a2dd491047a32d2a49bae1.setIcon(icon_b4224e0d363de8a50a52e6f81c64df8c);
            
</script>
</html>