<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <style>
        .pulse {
          width: 20px;
          height: 20px;
          background: rgba(255, 0, 0, 0.5);
          border-radius: 50%;
          position: relative;
          animation: pulse-animation 2s infinite;
          border: 2px solid rgba(255, 0, 0, 0.8);
          box-sizing: content-box;
        }
        @keyframes pulse-animation {
          0% {
            transform: scale(0.7);
            opacity: 1;
          }
          70% {
            transform: scale(2.5);
            opacity: 0;
          }
          100% {
            transform: scale(0.7);
            opacity: 0;
          }
        }
        </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8bb9234c97b079f472c290c8c3af0b6a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_8bb9234c97b079f472c290c8c3af0b6a" ></div>
        
</body>
<script>
    
    
            var map_8bb9234c97b079f472c290c8c3af0b6a = L.map(
                "map_8bb9234c97b079f472c290c8c3af0b6a",
                {
                    center: [39.8358297, 32.5584331],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 7,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_b3219cab71f97e17ff46901cb92a48c1 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_b3219cab71f97e17ff46901cb92a48c1.addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
            var circle_marker_db01c4413aab46b494f4dae2f57e6023 = L.circleMarker(
                [37.85306, 36.25444],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_02a8e082f6a4f55b01735c15876184b9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e0b44fe10752418e3e2439971a324733 = $(`<div id="html_e0b44fe10752418e3e2439971a324733" style="width: 100.0%; height: 100.0%;">2025-05-25 00:35:10<br>Saimbeyli (Adana)<br>M 2.0</div>`)[0];
                popup_02a8e082f6a4f55b01735c15876184b9.setContent(html_e0b44fe10752418e3e2439971a324733);
            
        

        circle_marker_db01c4413aab46b494f4dae2f57e6023.bindPopup(popup_02a8e082f6a4f55b01735c15876184b9)
        ;

        
    
    
            var circle_marker_0a64643aff0269aa9785b305174a4f84 = L.circleMarker(
                [37.97389, 36.28694],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_a3c0f33b882954a80209cbea6501b520 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_89aa6ce1bf461b18add9b7a67a8a4924 = $(`<div id="html_89aa6ce1bf461b18add9b7a67a8a4924" style="width: 100.0%; height: 100.0%;">2025-05-25 00:38:18<br>Göksun (Kahramanmaraş)<br>M 1.8</div>`)[0];
                popup_a3c0f33b882954a80209cbea6501b520.setContent(html_89aa6ce1bf461b18add9b7a67a8a4924);
            
        

        circle_marker_0a64643aff0269aa9785b305174a4f84.bindPopup(popup_a3c0f33b882954a80209cbea6501b520)
        ;

        
    
    
            var circle_marker_fb29672255771ee65534506a11498766 = L.circleMarker(
                [38.10583, 37.76861],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_d6a66c399242a297bb75ba27177bf528 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f86de6faaff75b9ee380de4396433489 = $(`<div id="html_f86de6faaff75b9ee380de4396433489" style="width: 100.0%; height: 100.0%;">2025-05-25 00:47:22<br>Doğanşehir (Malatya)<br>M 1.4</div>`)[0];
                popup_d6a66c399242a297bb75ba27177bf528.setContent(html_f86de6faaff75b9ee380de4396433489);
            
        

        circle_marker_fb29672255771ee65534506a11498766.bindPopup(popup_d6a66c399242a297bb75ba27177bf528)
        ;

        
    
    
            var circle_marker_9be0d9c88dba7ad3a93205a2eac0d01c = L.circleMarker(
                [38.80694, 37.27389],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_91d4665f7ae0c3274080f7a3bd58786b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7b098464c772149041fc07ba04f14f23 = $(`<div id="html_7b098464c772149041fc07ba04f14f23" style="width: 100.0%; height: 100.0%;">2025-05-25 00:57:30<br>Gürün (Sivas)<br>M 1.4</div>`)[0];
                popup_91d4665f7ae0c3274080f7a3bd58786b.setContent(html_7b098464c772149041fc07ba04f14f23);
            
        

        circle_marker_9be0d9c88dba7ad3a93205a2eac0d01c.bindPopup(popup_91d4665f7ae0c3274080f7a3bd58786b)
        ;

        
    
    
            var circle_marker_5d60cc80f01d833701a4ceb2a73117e6 = L.circleMarker(
                [38.06333, 36.49528],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_e6d8a7633a4eb58607610a74c7adcf41 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9d09505174a4660ad4484eda81487942 = $(`<div id="html_9d09505174a4660ad4484eda81487942" style="width: 100.0%; height: 100.0%;">2025-05-25 02:31:05<br>Göksun (Kahramanmaraş)<br>M 1.7</div>`)[0];
                popup_e6d8a7633a4eb58607610a74c7adcf41.setContent(html_9d09505174a4660ad4484eda81487942);
            
        

        circle_marker_5d60cc80f01d833701a4ceb2a73117e6.bindPopup(popup_e6d8a7633a4eb58607610a74c7adcf41)
        ;

        
    
    
            var circle_marker_1d6a30f7d9be01de6f5ed735a6344f67 = L.circleMarker(
                [37.63583, 35.9575],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_9a18afa0640ebb2eddd9e1058ca6c343 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8039a283794026a6123d18426d3f9658 = $(`<div id="html_8039a283794026a6123d18426d3f9658" style="width: 100.0%; height: 100.0%;">2025-05-25 02:00:54<br>Kozan (Adana)<br>M 1.6</div>`)[0];
                popup_9a18afa0640ebb2eddd9e1058ca6c343.setContent(html_8039a283794026a6123d18426d3f9658);
            
        

        circle_marker_1d6a30f7d9be01de6f5ed735a6344f67.bindPopup(popup_9a18afa0640ebb2eddd9e1058ca6c343)
        ;

        
    
    
            var circle_marker_94c2a29b1f41ca96b23ad95ef22407b4 = L.circleMarker(
                [38.26028, 37.76528],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_8db8ac6b4381c389ea4658af7940d0a1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ff23bfdb543cf532b82de25227b3672e = $(`<div id="html_ff23bfdb543cf532b82de25227b3672e" style="width: 100.0%; height: 100.0%;">2025-05-25 02:08:24<br>Akçadağ (Malatya)<br>M 0.9</div>`)[0];
                popup_8db8ac6b4381c389ea4658af7940d0a1.setContent(html_ff23bfdb543cf532b82de25227b3672e);
            
        

        circle_marker_94c2a29b1f41ca96b23ad95ef22407b4.bindPopup(popup_8db8ac6b4381c389ea4658af7940d0a1)
        ;

        
    
    
            var circle_marker_5fc9f46e906bed23f0f27f34a52e195f = L.circleMarker(
                [39.2275, 28.975],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_e99cbf4e70e4dbeb5bd416d3655ad522 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3a1cc418e4a3321aa07cd543b21d4bb6 = $(`<div id="html_3a1cc418e4a3321aa07cd543b21d4bb6" style="width: 100.0%; height: 100.0%;">2025-05-25 02:22:12<br>Simav (Kütahya)<br>M 1.0</div>`)[0];
                popup_e99cbf4e70e4dbeb5bd416d3655ad522.setContent(html_3a1cc418e4a3321aa07cd543b21d4bb6);
            
        

        circle_marker_5fc9f46e906bed23f0f27f34a52e195f.bindPopup(popup_e99cbf4e70e4dbeb5bd416d3655ad522)
        ;

        
    
    
            var circle_marker_15f250dce0beb2d4b99dd668abb0d10a = L.circleMarker(
                [39.45028, 27.535],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_50764cfdb8b1d8de7a8d03bed0d86d92 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4e30dfb7a1f8fd68e08bdd1cacd727cf = $(`<div id="html_4e30dfb7a1f8fd68e08bdd1cacd727cf" style="width: 100.0%; height: 100.0%;">2025-05-25 04:39:53<br>Savaştepe (Balıkesir)<br>M 1.4</div>`)[0];
                popup_50764cfdb8b1d8de7a8d03bed0d86d92.setContent(html_4e30dfb7a1f8fd68e08bdd1cacd727cf);
            
        

        circle_marker_15f250dce0beb2d4b99dd668abb0d10a.bindPopup(popup_50764cfdb8b1d8de7a8d03bed0d86d92)
        ;

        
    
    
            var circle_marker_7dffc4579858ca117d99ec55d2982e41 = L.circleMarker(
                [40.62556, 36.56],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_a6a0f69948b83d0ceed300f98faf53f1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9169208cba1b1e064e06419cb4465f8e = $(`<div id="html_9169208cba1b1e064e06419cb4465f8e" style="width: 100.0%; height: 100.0%;">2025-05-25 04:51:06<br>Erbaa (Tokat)<br>M 1.2</div>`)[0];
                popup_a6a0f69948b83d0ceed300f98faf53f1.setContent(html_9169208cba1b1e064e06419cb4465f8e);
            
        

        circle_marker_7dffc4579858ca117d99ec55d2982e41.bindPopup(popup_a6a0f69948b83d0ceed300f98faf53f1)
        ;

        
    
    
            var circle_marker_128c82c70d0379878fce5ea86f003333 = L.circleMarker(
                [38.40694, 37.92333],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_af82c1aea4fb6cb4a1e0f2fd116ed9c8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_552292e053484ab8f1992fbaddcf9072 = $(`<div id="html_552292e053484ab8f1992fbaddcf9072" style="width: 100.0%; height: 100.0%;">2025-05-25 04:33:33<br>Akçadağ (Malatya)<br>M 1.5</div>`)[0];
                popup_af82c1aea4fb6cb4a1e0f2fd116ed9c8.setContent(html_552292e053484ab8f1992fbaddcf9072);
            
        

        circle_marker_128c82c70d0379878fce5ea86f003333.bindPopup(popup_af82c1aea4fb6cb4a1e0f2fd116ed9c8)
        ;

        
    
    
            var circle_marker_021c5e4515d939d78645e3d252eb8604 = L.circleMarker(
                [38.5575, 38.00528],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_713e4bcb32dec9be659343ea321cd1bd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b9358938e96722c80ca2edd4deda1b0c = $(`<div id="html_b9358938e96722c80ca2edd4deda1b0c" style="width: 100.0%; height: 100.0%;">2025-05-25 05:20:36<br>Yazıhan (Malatya)<br>M 1.7</div>`)[0];
                popup_713e4bcb32dec9be659343ea321cd1bd.setContent(html_b9358938e96722c80ca2edd4deda1b0c);
            
        

        circle_marker_021c5e4515d939d78645e3d252eb8604.bindPopup(popup_713e4bcb32dec9be659343ea321cd1bd)
        ;

        
    
    
            var circle_marker_e8724a18263a52190ff832ae2ffbc49e = L.circleMarker(
                [41.35472, 43.85139],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_9752f1901531ab15dfc1f7e3d485356e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7d3a52729c3a81f529e81694ff252f13 = $(`<div id="html_7d3a52729c3a81f529e81694ff252f13" style="width: 100.0%; height: 100.0%;">2025-05-25 11:27:33<br>Ninotsminda, Samtskhe-Javakheti (Gürcistan) - [47.70 km] Akyaka (Kars)<br>M 2.0</div>`)[0];
                popup_9752f1901531ab15dfc1f7e3d485356e.setContent(html_7d3a52729c3a81f529e81694ff252f13);
            
        

        circle_marker_e8724a18263a52190ff832ae2ffbc49e.bindPopup(popup_9752f1901531ab15dfc1f7e3d485356e)
        ;

        
    
    
            var circle_marker_6ee7dbbdfc00ef2059b71e2490766320 = L.circleMarker(
                [38.51889, 38.00528],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_5ab0d0b7f08858473ebca30347950ae3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_174b8cb31aa302ea294718fb41dd558f = $(`<div id="html_174b8cb31aa302ea294718fb41dd558f" style="width: 100.0%; height: 100.0%;">2025-05-25 11:36:20<br>Yazıhan (Malatya)<br>M 1.2</div>`)[0];
                popup_5ab0d0b7f08858473ebca30347950ae3.setContent(html_174b8cb31aa302ea294718fb41dd558f);
            
        

        circle_marker_6ee7dbbdfc00ef2059b71e2490766320.bindPopup(popup_5ab0d0b7f08858473ebca30347950ae3)
        ;

        
    
    
            var circle_marker_f0308c6f03c0a32f3856fdce57203054 = L.circleMarker(
                [39.22778, 28.92361],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_b8abbdb4b5d3fe60f04a834578cb9b4d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_28feb7e21613bf240a8b49f4dcd6d234 = $(`<div id="html_28feb7e21613bf240a8b49f4dcd6d234" style="width: 100.0%; height: 100.0%;">2025-05-25 11:44:55<br>Simav (Kütahya)<br>M 1.2</div>`)[0];
                popup_b8abbdb4b5d3fe60f04a834578cb9b4d.setContent(html_28feb7e21613bf240a8b49f4dcd6d234);
            
        

        circle_marker_f0308c6f03c0a32f3856fdce57203054.bindPopup(popup_b8abbdb4b5d3fe60f04a834578cb9b4d)
        ;

        
    
    
            var circle_marker_63dd703d8db77afc9d0155bf96764860 = L.circleMarker(
                [39.52861, 40.65528],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_8139f62624ce75f3fd1f120e01b2f723 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_084b6e319a5d4a541d6e8ed28b5592b6 = $(`<div id="html_084b6e319a5d4a541d6e8ed28b5592b6" style="width: 100.0%; height: 100.0%;">2025-05-25 11:49:20<br>Çat (Erzurum)<br>M 1.6</div>`)[0];
                popup_8139f62624ce75f3fd1f120e01b2f723.setContent(html_084b6e319a5d4a541d6e8ed28b5592b6);
            
        

        circle_marker_63dd703d8db77afc9d0155bf96764860.bindPopup(popup_8139f62624ce75f3fd1f120e01b2f723)
        ;

        
    
    
            var circle_marker_9d3505c9811c74461192bce7f8bb3eeb = L.circleMarker(
                [36.99806, 27.99944],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_9bca0768aa45aa3020d07338d48c1fd1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e828e0b0bb9265e2974f48037f52dfe8 = $(`<div id="html_e828e0b0bb9265e2974f48037f52dfe8" style="width: 100.0%; height: 100.0%;">2025-05-25 12:08:17<br>Ege Denizi - Gökova Körfezi - [04.52 km] Milas (Muğla)<br>M 1.6</div>`)[0];
                popup_9bca0768aa45aa3020d07338d48c1fd1.setContent(html_e828e0b0bb9265e2974f48037f52dfe8);
            
        

        circle_marker_9d3505c9811c74461192bce7f8bb3eeb.bindPopup(popup_9bca0768aa45aa3020d07338d48c1fd1)
        ;

        
    
    
            var circle_marker_640cb37500bfe4aef19660da836807d2 = L.circleMarker(
                [38.52694, 38.00722],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_4a994276ccaa8bc997a9578ec422f57c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_916b72764a676c2ad1adceb261a35325 = $(`<div id="html_916b72764a676c2ad1adceb261a35325" style="width: 100.0%; height: 100.0%;">2025-05-25 12:11:13<br>Yazıhan (Malatya)<br>M 1.5</div>`)[0];
                popup_4a994276ccaa8bc997a9578ec422f57c.setContent(html_916b72764a676c2ad1adceb261a35325);
            
        

        circle_marker_640cb37500bfe4aef19660da836807d2.bindPopup(popup_4a994276ccaa8bc997a9578ec422f57c)
        ;

        
    
    
            var circle_marker_fab71d598705099283bb1c4a5f56871c = L.circleMarker(
                [39.32694, 29.12194],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_fd9c9ccb72f3695bec22d74e5cd2b226 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2d2200c841f04f56b9cb5d9e4a83da37 = $(`<div id="html_2d2200c841f04f56b9cb5d9e4a83da37" style="width: 100.0%; height: 100.0%;">2025-05-25 12:20:45<br>Emet (Kütahya)<br>M 1.6</div>`)[0];
                popup_fd9c9ccb72f3695bec22d74e5cd2b226.setContent(html_2d2200c841f04f56b9cb5d9e4a83da37);
            
        

        circle_marker_fab71d598705099283bb1c4a5f56871c.bindPopup(popup_fd9c9ccb72f3695bec22d74e5cd2b226)
        ;

        
    
    
            var circle_marker_5f57565b6797772c329e61a0329b0057 = L.circleMarker(
                [38.10194, 38.33806],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_a0b5a2e1fc80724d49eb53d97cf4ff90 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7f7bd9f15770bdb6428a79849847d491 = $(`<div id="html_7f7bd9f15770bdb6428a79849847d491" style="width: 100.0%; height: 100.0%;">2025-05-25 12:30:11<br>Çelikhan (Adıyaman)<br>M 1.2</div>`)[0];
                popup_a0b5a2e1fc80724d49eb53d97cf4ff90.setContent(html_7f7bd9f15770bdb6428a79849847d491);
            
        

        circle_marker_5f57565b6797772c329e61a0329b0057.bindPopup(popup_a0b5a2e1fc80724d49eb53d97cf4ff90)
        ;

        
    
    
            var circle_marker_f1f21e5ae4ccd6a989b197bf5ef3b2db = L.circleMarker(
                [39.24639, 28.92583],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_238018cd17b8564ae1b8b83718880b26 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1a9a313f9624c88c04d3dc9a8e859466 = $(`<div id="html_1a9a313f9624c88c04d3dc9a8e859466" style="width: 100.0%; height: 100.0%;">2025-05-25 12:55:01<br>Simav (Kütahya)<br>M 1.3</div>`)[0];
                popup_238018cd17b8564ae1b8b83718880b26.setContent(html_1a9a313f9624c88c04d3dc9a8e859466);
            
        

        circle_marker_f1f21e5ae4ccd6a989b197bf5ef3b2db.bindPopup(popup_238018cd17b8564ae1b8b83718880b26)
        ;

        
    
    
            var circle_marker_898cdbcdd6ad7888308c6d1816c92c1c = L.circleMarker(
                [39.52, 28.17722],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_0ca0b034bddc887a2be161832ffa2e23 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9fdfaefeb4043c03385639eef60bdf67 = $(`<div id="html_9fdfaefeb4043c03385639eef60bdf67" style="width: 100.0%; height: 100.0%;">2025-05-25 13:02:20<br>Bigadiç (Balıkesir)<br>M 1.6</div>`)[0];
                popup_0ca0b034bddc887a2be161832ffa2e23.setContent(html_9fdfaefeb4043c03385639eef60bdf67);
            
        

        circle_marker_898cdbcdd6ad7888308c6d1816c92c1c.bindPopup(popup_0ca0b034bddc887a2be161832ffa2e23)
        ;

        
    
    
            var circle_marker_77750be13fcc04fd1b964bad4c253073 = L.circleMarker(
                [39.35361, 29.29194],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_cac489af9b051188b1769be20cfe7bcf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b5d7fc39950d08cfa0d66de8e3ebccd9 = $(`<div id="html_b5d7fc39950d08cfa0d66de8e3ebccd9" style="width: 100.0%; height: 100.0%;">2025-05-25 13:33:52<br>Emet (Kütahya)<br>M 1.4</div>`)[0];
                popup_cac489af9b051188b1769be20cfe7bcf.setContent(html_b5d7fc39950d08cfa0d66de8e3ebccd9);
            
        

        circle_marker_77750be13fcc04fd1b964bad4c253073.bindPopup(popup_cac489af9b051188b1769be20cfe7bcf)
        ;

        
    
    
            var circle_marker_c61035f99a68cf957038cc7a8bd19650 = L.circleMarker(
                [38.52139, 38.03778],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_588d3f01d6a8db3f82c2c7fd47be523c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cabdf1f8c7587ebf34546d75d2b4e693 = $(`<div id="html_cabdf1f8c7587ebf34546d75d2b4e693" style="width: 100.0%; height: 100.0%;">2025-05-25 13:43:11<br>Yazıhan (Malatya)<br>M 1.5</div>`)[0];
                popup_588d3f01d6a8db3f82c2c7fd47be523c.setContent(html_cabdf1f8c7587ebf34546d75d2b4e693);
            
        

        circle_marker_c61035f99a68cf957038cc7a8bd19650.bindPopup(popup_588d3f01d6a8db3f82c2c7fd47be523c)
        ;

        
    
    
            var circle_marker_b84efbbeddd563ae9a5a7ce27a52272f = L.circleMarker(
                [39.24611, 28.95472],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_207367ecfe76f788c99abd620d00aef1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_82ab570b666f6fcb9acd73c33aeb8a36 = $(`<div id="html_82ab570b666f6fcb9acd73c33aeb8a36" style="width: 100.0%; height: 100.0%;">2025-05-25 13:46:55<br>Simav (Kütahya)<br>M 1.2</div>`)[0];
                popup_207367ecfe76f788c99abd620d00aef1.setContent(html_82ab570b666f6fcb9acd73c33aeb8a36);
            
        

        circle_marker_b84efbbeddd563ae9a5a7ce27a52272f.bindPopup(popup_207367ecfe76f788c99abd620d00aef1)
        ;

        
    
    
            var circle_marker_92e65910001032b1620f7965e8633df1 = L.circleMarker(
                [39.22556, 28.96472],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_4181dddf2ef41d32c8254678a82f7cae = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_000a824a9b0efb2522414a00346a4b08 = $(`<div id="html_000a824a9b0efb2522414a00346a4b08" style="width: 100.0%; height: 100.0%;">2025-05-25 13:47:18<br>Simav (Kütahya)<br>M 1.4</div>`)[0];
                popup_4181dddf2ef41d32c8254678a82f7cae.setContent(html_000a824a9b0efb2522414a00346a4b08);
            
        

        circle_marker_92e65910001032b1620f7965e8633df1.bindPopup(popup_4181dddf2ef41d32c8254678a82f7cae)
        ;

        
    
    
            var circle_marker_941fc1d72cb61f1725058ef33b16af17 = L.circleMarker(
                [38.88667, 26.43528],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_8e68b20a6251f41caf5c89c6a6dffddc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2e41fbc69b5c6685441392a4dc278595 = $(`<div id="html_2e41fbc69b5c6685441392a4dc278595" style="width: 100.0%; height: 100.0%;">2025-05-25 14:23:16<br>Ege Denizi - [24.75 km] Karaburun (İzmir)<br>M 1.6</div>`)[0];
                popup_8e68b20a6251f41caf5c89c6a6dffddc.setContent(html_2e41fbc69b5c6685441392a4dc278595);
            
        

        circle_marker_941fc1d72cb61f1725058ef33b16af17.bindPopup(popup_8e68b20a6251f41caf5c89c6a6dffddc)
        ;

        
    
    
            var circle_marker_b6fe2fa6fdbf509c5fdfd1d24a0e6e63 = L.circleMarker(
                [39.28639, 26.85861],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_84aea67ffe3a6c1e324590726eaff567 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a6f25be8f23b7e2c830224f5a05f0858 = $(`<div id="html_a6f25be8f23b7e2c830224f5a05f0858" style="width: 100.0%; height: 100.0%;">2025-05-25 14:26:44<br>Ayvalık (Balıkesir)<br>M 1.1</div>`)[0];
                popup_84aea67ffe3a6c1e324590726eaff567.setContent(html_a6f25be8f23b7e2c830224f5a05f0858);
            
        

        circle_marker_b6fe2fa6fdbf509c5fdfd1d24a0e6e63.bindPopup(popup_84aea67ffe3a6c1e324590726eaff567)
        ;

        
    
    
            var circle_marker_03137f1c42e568dc962bfc1fd415854a = L.circleMarker(
                [36.17278, 33.52778],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_99923fda5aa2b0363656aa43a65895de = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ec7cc32eaaea38d99cae08a2313ea261 = $(`<div id="html_ec7cc32eaaea38d99cae08a2313ea261" style="width: 100.0%; height: 100.0%;">2025-05-25 14:32:51<br>Gülnar (Mersin)<br>M 1.4</div>`)[0];
                popup_99923fda5aa2b0363656aa43a65895de.setContent(html_ec7cc32eaaea38d99cae08a2313ea261);
            
        

        circle_marker_03137f1c42e568dc962bfc1fd415854a.bindPopup(popup_99923fda5aa2b0363656aa43a65895de)
        ;

        
    
    
            var circle_marker_dd683b8c7476d7c46320680a00640899 = L.circleMarker(
                [39.23361, 28.94472],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_ba78bfb1256e1f9ec222d1acaeae2650 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d965069c6079eca0808621e0c086fbdd = $(`<div id="html_d965069c6079eca0808621e0c086fbdd" style="width: 100.0%; height: 100.0%;">2025-05-25 14:35:11<br>Simav (Kütahya)<br>M 1.4</div>`)[0];
                popup_ba78bfb1256e1f9ec222d1acaeae2650.setContent(html_d965069c6079eca0808621e0c086fbdd);
            
        

        circle_marker_dd683b8c7476d7c46320680a00640899.bindPopup(popup_ba78bfb1256e1f9ec222d1acaeae2650)
        ;

        
    
    
            var circle_marker_9983d7cd8094e51aef0a512483bc28b5 = L.circleMarker(
                [36.86056, 34.66944],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
        var popup_f6db2b47de028ecedd46c2a5b1652a53 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_27bedcdcd9f7179d1f0cef46774ea409 = $(`<div id="html_27bedcdcd9f7179d1f0cef46774ea409" style="width: 100.0%; height: 100.0%;">2025-05-25 15:09:16<br>Akdeniz (Mersin)<br>M 1.4</div>`)[0];
                popup_f6db2b47de028ecedd46c2a5b1652a53.setContent(html_27bedcdcd9f7179d1f0cef46774ea409);
            
        

        circle_marker_9983d7cd8094e51aef0a512483bc28b5.bindPopup(popup_f6db2b47de028ecedd46c2a5b1652a53)
        ;

        
    
    
            var marker_dd4236277eedcb1481d053c8650ebc1f = L.marker(
                [36.16111, 28.07028],
                {
}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
            var div_icon_3274a29866fd08bedf4ca66696a7f02c = L.divIcon({
  "html": "\u003cdiv class=\"pulse\"\u003e\u003c/div\u003e",
  "iconSize": [20, 20],
  "iconAnchor": [10, 10],
  "className": "empty",
});
        
    
        var popup_b3ca0fbb2f242a5975a7a257bc62447d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_48a7d4a8cf48b16554e93460b29744b6 = $(`<div id="html_48a7d4a8cf48b16554e93460b29744b6" style="width: 100.0%; height: 100.0%;">2025-05-25 16:58:56<br>Ege Denizi - [52.36 km] Marmaris (Muğla)<br>M 2.0</div>`)[0];
                popup_b3ca0fbb2f242a5975a7a257bc62447d.setContent(html_48a7d4a8cf48b16554e93460b29744b6);
            
        

        marker_dd4236277eedcb1481d053c8650ebc1f.bindPopup(popup_b3ca0fbb2f242a5975a7a257bc62447d)
        ;

        
    
    
                marker_dd4236277eedcb1481d053c8650ebc1f.setIcon(div_icon_3274a29866fd08bedf4ca66696a7f02c);
            
    
            var marker_c88bdf1d70b3390641f3e8754e320e46 = L.marker(
                [39.8358297, 32.5584331],
                {
}
            ).addTo(map_8bb9234c97b079f472c290c8c3af0b6a);
        
    
            var icon_df6519d2629b1dd3be95f17157351975 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_e99cedd8cd0f38e1cb4a9a076ddf25c2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bc2d1f0f91daf3633b80615e50b28cbc = $(`<div id="html_bc2d1f0f91daf3633b80615e50b28cbc" style="width: 100.0%; height: 100.0%;">Seçilen Lokasyon</div>`)[0];
                popup_e99cedd8cd0f38e1cb4a9a076ddf25c2.setContent(html_bc2d1f0f91daf3633b80615e50b28cbc);
            
        

        marker_c88bdf1d70b3390641f3e8754e320e46.bindPopup(popup_e99cedd8cd0f38e1cb4a9a076ddf25c2)
        ;

        
    
    
                marker_c88bdf1d70b3390641f3e8754e320e46.setIcon(icon_df6519d2629b1dd3be95f17157351975);
            
</script>
</html>